:root{
  --tipografia:'Roboto';
  --color-barra-menu:#d7d4f5;
  --color-boton-seleccionado:#9c92f5;
  --color-texto-icono:#551a8b;
  

}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
 background-color: hsl(240, 24%, 96%);

}
 
/*nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
}
  */

nav > ul > li {
  /*flex: 1 1 auto;*/
  text-align: center;
}
ul {
  display: flex;          
  justify-content: space-around; 
  list-style: none;
  width: calc(100% - 16px);
  height: 80px;
  position: fixed;
  bottom: 0;
  background-color: var(--color-barra-menu);
  border-radius: 50px;
  
  padding: 0;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}
li{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 112px;
  --background-color: rgb(130, 31, 230);
  
  
}
x-clock{
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  height: 100%; 
 
}
main {
  display: flex;
  
  width: 100%;
  height: 100%;

}
#clock {
  width: 100%;
  height: 100%;
}

.time {
  font-family: var(--tipografia);
  font-size: 100pt;
  color: var(--color-boton-seleccionado);
  font-weight: 500;
}

.texto-icono{
  color:  var(--color-texto-icono);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}
.botones{
  display: flex;
  justify-content: center;
 --background-color: var(--color-boton-seleccionado);
 background-color: transparent;
  height: 40px;
  width: 112px;
  border-radius: 20px;
  border: none;
  font-family: var(--tipografia);
  font-size: medium;
  font-weight:560;
 
}
.botones:hover{
  background-color: var(--color-boton-seleccionado);
}


.boton-seleccionado{
   display: flex;
  justify-content: center;
 background-color: var(--color-boton-seleccionado);
 --background-color: transparent;
  height: 40px;
  width: 112px;
  border-radius: 20px;
  border: none;
  
}



main > section:not(:target) {
  display: none;
}

.home-reloj-600{
  display: none;
}

@media (max-width: 600px){
  .texto-icono{
  display: flex;
 
  justify-content: center;
  align-items: center;
  
}
.botones{
  width: 64px;
}
li{
display: flex;
flex-direction: column;
}
.home-reloj{
  display:none;
}
.home-reloj-600{
  display: flex;
  margin-top: 4px;
   font-family: var(--tipografia);
  font-size: medium;
  font-weight:560;
  color: var(--color-texto-icono);
}
ul{
  margin-left: 8px;
  margin-top:12px ;
  margin-bottom: 16px;

}
.time{
  font-size: 70pt;
}
}
