body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-color: aquamarine;

}

/*nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
}
  */

nav > ul > li {
  /*flex: 1 1 auto;*/
  text-align: center;
}
ul {
  display: flex;          
  justify-content: space-around; 
  list-style: none;
  width: calc(100% - 16px);
  height: 80px;
  position: fixed;
  bottom: 0;
  background-color: blue;
  border-radius: 50px;
  
  padding: 0;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}
li{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 112px;
  background-color: rgb(130, 31, 230);
  
  
}

.contenedor-time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 25vw;
  margin-right: 25vw;
}

.texto-icono{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}
.botones{
  display: flex;
  justify-content: center;
  align-items: c;
  height: 40px;
  width: 112px;
  border-radius: 20px;
}
main {
  display: flex;
  width: 100%;
  height: 100%;
}

main > section:not(:target) {
  display: none;
}

.home-reloj-600{
  display: none;
}

@media (max-width: 600px){
  .texto-icono{
  display: flex;
 
  justify-content: center;
  align-items: center;
  
}
.botones{
  width: 64px;
}
li{
display: flex;
flex-direction: column;
}
.home-reloj{
  display:none;
}
.home-reloj-600{
  display: flex;
  margin-top: 4px;
}
ul{
  margin-left: 8px;
  margin-top:12px ;
  margin-bottom: 16px;
}
}
