:root{
  --tipografia:'Roboto';
  --color-barra-menu:#d7d4f5;
  --color-boton-seleccionado:#9c92f5;
  --color-texto-icono:#551a8b;
  --box-shadow:0px 4px 6px rgba(0, 0, 0, 0.247);
  --color-texto-alarm:#551a8b;
 --color-fondo: hsl(240, 24%, 93%);
--fondo-caja:#d7d4f5;
--color-escribir-timer:#551a8b;
--color-alarm:#d7d4f5;

--colores-boton:#551a8b;

}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
 background-color: var(--color-fondo);

}
 
/*nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
}
  */

nav > ul > li {
  /*flex: 1 1 auto;*/
  text-align: center;
}
nav{
  display: flex;
  
  justify-content: center;
  
}
ul {
  
  display: flex;
  
  justify-content: space-around; 
  list-style: none;
  width: calc(80% - 16px);
  height: 80px;
  position: fixed;
  bottom: 0;
  background-color: var(--color-barra-menu);
  border-radius: 50px;
  
  padding: 0;
  
  margin-top: 12px;
  margin-bottom: 24px;
     
}
li{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 112px;
  
  
  
}


main {
  display: flex;
  
  width: 100%;
  height: 100%;

}
#clock {
  width: 100%;
  height: 100%;
}

.time {
  display: flex;
align-items: center;
justify-content: center;

height: 100%;
  font-family: var(--tipografia);
  font-size: 100pt;
  color: var(--color-boton-seleccionado);
  font-weight: 500;
}

.texto-icono{
  color:  var(--color-texto-icono);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}
.botones{
  display: flex;
  justify-content: center;
 
 background-color: transparent;
  height: 40px;
  width: 112px;
  border-radius: 20px;
  border: none;
  font-family: var(--tipografia);
  font-size: medium;
  font-weight:560;
 
}
.botones:hover{
  background-color: var(--color-boton-seleccionado);
}


.boton-seleccionado{
   display: flex;
  justify-content: center;
 background-color: var(--color-boton-seleccionado);
 --background-color: transparent;
  height: 40px;
  width: 118px;
  
  border-radius: 20px;
  border: none;
  
}



main > section:not(:target) {
  display: none;
}

.home-reloj-600{
  display: none;
}

#alarm{
 
  width: 100%;

  
  
}
x-alarm > .controls{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse; 
 width: 250px;
  margin: auto;
  padding: 50px;
  margin-bottom: 50px;
  margin-top:100px;
  border-radius: 20px;
  
  background-color: var(--fondo-caja);
}
.time-alarm{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-family: var(--tipografia);
  font-size: 40pt;
  color: var(--color-texto-icono);
  font-weight: 500;
}
/*.container-items-alarm{
  tengo que editar el scroll
}*/
.items-alarm{
    display: flex;
justify-content: center;
  overflow-y:auto;
  height: 380px;
  align-items: center;
  margin: auto;
  
  flex-wrap: wrap;
  
  
   width: 60%;
}


.icono-start-pause{
  gap: 16px;
  display: flex;
  background-color: var(--color-boton-seleccionado);
 padding: 5px;

outline: 5px solid var(--color-boton-seleccionado);
outline-offset: -5px;
  border-radius: 30px;
  


}
.boton-individual{
  padding: 5px;
  border-radius: 50%;
  
  margin: auto;
  background-color: var(--color-boton-seleccionado);


}

.iconos-alarm{
 padding: 16px;
  gap: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*aqui tengo que mirar el borde*/
.iconos-alarm button{
--border: var(--color-texto-icono) 1px solid;
  font-size: 35px;
  font-weight: bold;
  
  color: var(--colores-boton);
  padding: 8px;
  border-radius: 50%;
  
 
}
.iconos-todos{
   padding: 16px;
  gap: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.iconos-todos button{
  --border: var(--color-texto-icono) 1px solid;
  font-size: 24px;
  color: var(--colores-boton);
  padding: 12px;
  border-radius: 50%;
  
}

.activo-alarm{
   background-color:var(--color-alarm);
}


.delete{
  background-color: rgb(255, 119, 119);
}


.addboton{
   display: flex;
   align-items: center;
   padding-top: 20px ;
   padding-bottom:  20px;
   padding-left: 20px;
   padding-right: 20px;
  border: none;
   height: 1px;
   border-radius: 16px;
   gap: 4px;
   box-shadow: var(--box-shadow);
    color: var(--color-texto-alarm);
    font-family: var(--tipografia);
    
}
.add:hover{
 background-color: var(--color-boton-seleccionado);

}


.escribir-tiempo {
  font-family: var(--tipografia);
  font-size: 15pt;
  color: var(--color-texto-icono);
  background: var(--color-boton-seleccionado); 
  border: 2px solid var(--color-boton-seleccionado);
  border-radius: 20px;
  padding: 8px 12px;
  width: 140px;
  text-align: center;
  margin-top: 16px;
   box-shadow: var(--box-shadow);
  
  
}
.alarms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
 margin: 20px;
  background-color: var(--fondo-caja);
   box-shadow: var(--box-shadow);
  
}

#stopwatch{
  width: 100%;
  height: 100vh;
}
x-stopwatch{
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
 width: 400px;
  margin: auto;
  padding: 50px;
  margin-bottom: 50px;
  margin-top:100px;
  border-radius: 20px;
  
  background-color: var(--fondo-caja);
}
 x-stopwatch time{
   margin-bottom: 30px;
  font-family: var(--tipografia);
  font-size: 40pt;
  color: var(--color-texto-icono);
  font-weight: 500;
 }



#timer{
  width: 100%;
  height: 100vh;
  
 

}

 x-timer{
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
 width: 400px;
  margin: auto;
  padding: 50px;
  margin-bottom: 50px;
  margin-top:100px;
  border-radius: 20px;
  
  background-color: var(--fondo-caja);
  
 
}







x-timer time{
 
  margin-bottom: 30px;
  font-family: var(--tipografia);
  font-size: 40pt;
  color: var(--color-texto-icono);
  font-weight: 500;
}

.escribir-tiempo-timer {
  font-family: var(--tipografia);
  font-size: 15pt;
  color: var(--color-escribir-timer);
  background: var(--color-boton-seleccionado); 
  border: 2px solid var(--color-boton-seleccionado);
  border-radius: 20px;
  padding: 8px 12px;
  width: 140px;
  text-align: center;
  margin-top: 16px;
   box-shadow: var(--box-shadow);
   margin: 10px;
   margin-bottom: 40px;
 
  
}
  



.timers input.current-interval {
  font-family: var(--tipografia);
  font-size: 15pt;
  color: var(--color-escribir-timer);
  background: rgb(149, 240, 149); 
  border: 2px solid rgb(149, 240, 149);
  border-radius: 20px;
  padding: 8px 12px;
  width: 140px;
  text-align: center;
  margin-top: 16px;
   box-shadow: var(--box-shadow);
   margin: 10px;
   margin-bottom: 40px;
  
}


@media (max-width: 600px){
  .texto-icono{
  display: flex;
 
  justify-content: center;
  align-items: center;
  
}
.botones{
  width: 64px;
}
li{
display: flex;
flex-direction: column;
}
.home-reloj{
  display:none;
}
.home-reloj-600{
  display: flex;
  margin-top: 4px;
   font-family: var(--tipografia);
  font-size: medium;
  font-weight:560;
  color: var(--color-texto-icono);
}
ul{
  margin-left: 8px;
  margin-top:12px ;
  margin-right: 8px;
  margin-bottom: 16px;
   width: calc(100% - 16px);

}
.time{
  font-size: 70pt;
}
}



.activo{

  background-color: rgb(149, 240, 149);
 outline: transparent;
 border-color: transparent;
  

}

.activo-pause{
   background-color: rgb(255, 119, 119);
   outline: transparent;
 border-color: transparent;
}
.inactivo{
  
 --background-color: rgba(109, 109, 109, 0.247);
  background-color: rgba(200, 200, 200, 0.658); 
 

 border-color:var(--colores-boton);

 

}









@media (prefers-color-scheme: dark) {
  :root {
    --tipografia: 'Roboto';

    --color-barra-menu: #2b2640;         
    --color-boton-seleccionado: #6c5ce7;  
    --color-texto-icono: #dcd6ff;   
    --fondo-caja: #2b2640;    
    --color-fondo:#1d1626;
    --color-alarm:#dcd6ff;
  }
    

/*
  .add:hover {
    background-color: var(--color-boton-seleccionado);
  }

 .escribir-tiempo {
  background: var(--color-boton-seleccionado);
  border-color: var(--color-boton-seleccionado);
  color: white;
}

.escribir-tiempo-timer {
  background: var(--color-boton-seleccionado);
  border-color: var(--color-boton-seleccionado);
  color: white;
}

.alarms {
  background-color: var(--fondo-caja);
  color: var(--color-texto-icono);
}

x-alarm > .controls {
  background-color: var(--fondo-caja);
  color: var(--color-texto-icono);
}

x-timer {
  background-color: var(--fondo-caja);
  color: var(--color-texto-icono);
}

  .boton-seleccionado {
    background-color: var(--color-boton-seleccionado);
  }

 
  #timer {
  background-color: var(--color-fondo);
  }
}*/ 
}