:root {
  --tipografia: 'Roboto';
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-color: white;
}
/*ul{
  display:  flex;
  justify-content: space-around;
}
  */
nav > ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

nav > ul > li {
  /* flex: 1 1 auto;*/
  text-align: center;
}

main {
  display: flex;
}
main > section:not(:target) {
  display: none;
}
li button {
  background-color: transparent;
  border: transparent;
}

#clock {
  font-family: var(--tipografia);
  font-size: 70pt;
  margin-top: 40vh;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: #9c92f5;
}
nav {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: #d7d4f56e;
  padding-bottom: 20px;
  padding-top: 20px;
}

nav a {
  text-decoration: none;
  color: #551a8b;
}

.seleccionado {
  background-color: #93a8f518;
}
.nav {
  display: flex;
  font-family: var(--tipografia);
  font-weight: 400;

  gap: 10px;
  align-items: center;

  padding-left: 40px;
  padding-right: 40px;
  padding-top:4px;
  padding-bottom: 4px;
  border-radius: 40px;
  background-color: #93a8f549;
}

@media (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column-reverse;
    gap: 0px;
    padding: 0;
    background-color: transparent;
  }
  .nav button {
    background-color: aquamarine;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
  }
}
