:root{
  --tipografia:'Roboto';
  --color-barra-menu:#d7d4f5;
  --color-boton-seleccionado:#9c92f5;
  --color-texto-icono:#551a8b;
  

}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
 background-color: hsl(240, 24%, 96%);

}
 
/*nav > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
}
  */

nav > ul > li {
  /*flex: 1 1 auto;*/
  text-align: center;
}
ul {
  display: flex;          
  justify-content: space-around; 
  list-style: none;
  width: calc(100% - 16px);
  height: 80px;
  position: fixed;
  bottom: 0;
  background-color: var(--color-barra-menu);
  border-radius: 50px;
  
  padding: 0;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}
li{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 112px;
  --background-color: rgb(130, 31, 230);
  
  
}


main {
  display: flex;
  
  width: 100%;
  height: 100%;

}
#clock {
  width: 100%;
  height: 100%;
}

.time {
  display: flex;
align-items: center;
justify-content: center;

height: 100%;
  font-family: var(--tipografia);
  font-size: 100pt;
  color: var(--color-boton-seleccionado);
  font-weight: 500;
}

.texto-icono{
  color:  var(--color-texto-icono);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}
.botones{
  display: flex;
  justify-content: center;
 --background-color: var(--color-boton-seleccionado);
 background-color: transparent;
  height: 40px;
  width: 112px;
  border-radius: 20px;
  border: none;
  font-family: var(--tipografia);
  font-size: medium;
  font-weight:560;
 
}
.botones:hover{
  background-color: var(--color-boton-seleccionado);
}


.boton-seleccionado{
   display: flex;
  justify-content: center;
 background-color: var(--color-boton-seleccionado);
 --background-color: transparent;
  height: 40px;
  width: 118px;
  
  border-radius: 20px;
  border: none;
  
}



main > section:not(:target) {
  display: none;
}

.home-reloj-600{
  display: none;
}

#alarm{
  background-color: #1a8b72;
  width: 100%;

  
  
}
x-alarm > .controls{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse; 
 width: 250px;
  margin: auto;
  padding: 50px;
  margin-bottom: 50px;
  margin-top:100px;
  border-radius: 20px;
  
  background-color: var(--color-barra-menu);
}
.time-alarm{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-family: var(--tipografia);
  font-size: 40pt;
  color: var(--color-texto-icono);
  font-weight: 500;
}

.items-alarm{
    display: flex;
justify-content: center;
  overflow-y:scroll;
  height: 360px;
  align-items: center;
  margin: auto;
  
  flex-wrap: wrap;
  
  
   width: 60%;
}

.iconos-alarm{
 padding: 16px;
  gap: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.icono-start-pause{
  gap: 16px;
  display: flex;
  background-color: var(--color-boton-seleccionado);
 padding: 5px;
--border: 10px solid black;
outline: 5px solid var(--color-boton-seleccionado);
outline-offset: -5px;
  border-radius: 30px;
  


}
.iconos-alarm button{
border: var(--color-texto-icono) 3px solid;
  font-size: 24px;
  color: var(--color-texto-icono);
  padding: 12px;
  border-radius: 50%;
  
 
}
.delete{
  background-color: rgb(255, 119, 119);
}


.add{
   display: flex;
   align-items: center;
   padding-top: 20px ;
   padding-bottom:  20px;
   padding-left: 20px;
   padding-right: 20px;
  border: none;
   height: 1px;
   border-radius: 16px;
   gap: 4px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.247);
    color: var(--color-texto-icono);
    font-family: var(--tipografia);
    
}
.add:hover{
 background-color: var(--color-boton-seleccionado);

}


.escribir-tiempo {
  font-family: var(--tipografia);
  font-size: 15pt;
  color: var(--color-texto-icono);
  background: var(--color-boton-seleccionado); 
  border: 2px solid var(--color-boton-seleccionado);
  border-radius: 20px;
  padding: 8px 12px;
  width: 140px;
  text-align: center;
  margin-top: 16px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.247);
  
  
}
.alarms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
 margin: 20px;
  background-color: var(--color-barra-menu);
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.247);
  
}
#timer{
  width: 100%;
  height: 100vh;
  
  background-color: #db1ad1;

}

 x-timer{
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
 width: 400px;
  margin: auto;
  padding: 50px;
  margin-bottom: 50px;
  margin-top:100px;
  border-radius: 20px;
  
  background-color: var(--color-barra-menu);
  
 
}







x-timer time{
 
  margin-bottom: 30px;
  font-family: var(--tipografia);
  font-size: 40pt;
  color: var(--color-texto-icono);
  font-weight: 500;
}

.escribir-tiempo-timer {
  font-family: var(--tipografia);
  font-size: 15pt;
  color: var(--color-texto-icono);
  background: var(--color-boton-seleccionado); 
  border: 2px solid var(--color-boton-seleccionado);
  border-radius: 20px;
  padding: 8px 12px;
  width: 140px;
  text-align: center;
  margin-top: 16px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.247);
   margin: 10px;
   margin-bottom: 40px;
 
  
}
   



.timers input.current-interval {
  font-family: var(--tipografia);
  font-size: 15pt;
  color: var(--color-texto-icono);
  background: rgb(149, 240, 149); 
  border: 2px solid rgb(149, 240, 149);
  border-radius: 20px;
  padding: 8px 12px;
  width: 140px;
  text-align: center;
  margin-top: 16px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.247);
   margin: 10px;
   margin-bottom: 40px;
  
}


@media (max-width: 600px){
  .texto-icono{
  display: flex;
 
  justify-content: center;
  align-items: center;
  
}
.botones{
  width: 64px;
}
li{
display: flex;
flex-direction: column;
}
.home-reloj{
  display:none;
}
.home-reloj-600{
  display: flex;
  margin-top: 4px;
   font-family: var(--tipografia);
  font-size: medium;
  font-weight:560;
  color: var(--color-texto-icono);
}
ul{
  margin-left: 8px;
  margin-top:12px ;
  margin-bottom: 16px;

}
.time{
  font-size: 70pt;
}
}



.activo{

  background-color: rgb(149, 240, 149);

}
.inactivo{
  --opacity: 0.6;
 --background-color: rgba(109, 109, 109, 0.247);
 background-color: rgb(114, 106, 106);
 

}